<%= simple_form_for @todo do |form| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@todo.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @todo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.select :category, [['Urgent and Important', 1], ['Not urgent and Important' , 2], ['Urgent and Not Important', 3], ['Not urgent and not Important', 4]] %>
  </p>


  <p>
    <%= form.submit %>
  </p>

<% end %>
